<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nicog.idra">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".Interface.mod.SolveIncident"></activity>
        <activity android:name=".Interface.mod.ModMenu" />
        <activity
            android:name=".Interface.VistaFuente.ReportIncident"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Interface.user.qrReader"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Interface.addFuente.addLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Interface.addFuente.addFuente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Interface.VistaFuente.VistaFuente"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fuente.idrapp.es"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Interface.user.qr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Interface.user.User"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Interface.Map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Interface.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Interface.tutorial.Tutorial"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5821282725257897~4172488960" />
    </application>

</manifest>